{% extends 'base.html.twig'%}
{% block title %}
	Nerdy Answers
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<div class="container">
		{# {% if app.user %}
			{{app.user.username}}
		{% endif %} #}
		<div id="appform"></div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
