@import "../../node_modules/@blueprintjs/core/lib/scss/variables";

.loginForm {
	max-width: 800px;
	.formHeader {
		padding: 1rem 0.5rem;
		h1 {
			font-size: 1.5rem;
			text-align: center;
		}
		border-bottom: 1px solid $gray5;
		background-color: $light-gray5;
	}
	.formBody{
		padding: 0.5rem;
		border-bottom: 1px solid $gray5;
		background-color: $light-gray5;
	}
	.formFooter{
		padding: 0.5rem;
		text-align: center;
	}
}
